/* =========================
   ThriveLine v1.0
   Splash Screen
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background: linear-gradient(
        180deg,
        #f8fbff 0%,
        #eef7ff 55%,
        #f7fffb 100%
    );

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #102A43;
}

/* App container */

.app-container {

    width: 100%;
    max-width: 430px;
    min-height: 100vh;

    background: rgba(255,255,255,0.75);

    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 35px;

}

/* Splash */

.splash-screen{

    text-align:center;
    width:100%;

}

/* Logo */

.logo{

    width:190px;
    margin-bottom:35px;

    animation: float 4s ease-in-out infinite;

}

/* Title */

h1{

    font-size:48px;
    font-weight:800;

    margin-bottom:14px;

    letter-spacing:-1px;

}

/* Subtitle */

.tagline{

    font-size:20px;

    font-weight:600;

    color:#246BFD;

    margin-bottom:18px;

}

/* Description */

.description{

    font-size:16px;

    color:#6B7A90;

    line-height:1.8;

    margin-bottom:55px;

}

/* Button */

button{

    width:100%;

    border:none;

    cursor:pointer;

    border-radius:999px;

    padding:18px;

    font-size:18px;

    font-weight:700;

    color:white;

    background:linear-gradient(
        90deg,
        #246BFD,
        #1FCDE8,
        #59E65A
    );

    transition:.3s;

    box-shadow:
        0 10px 25px rgba(36,107,253,.25);

}

/* Hover */

button:hover{

    transform:translateY(-3px);

    box-shadow:
        0 18px 40px rgba(36,107,253,.35);

}

/* Arrow */

button span{

    margin-left:8px;

}

/* Floating Logo */

@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0px);
    }

}

/* Desktop */

@media(min-width:768px){

    .app-container{

        min-height:850px;

        border-radius:40px;

        box-shadow:
        0 25px 70px rgba(0,0,0,.12);

        overflow:hidden;

    }

}
